body
{
	margin: 6px;
	padding: 0;
	font: 76% Verdana,Tahoma,Arial,sans-serif;
	background: #FFFFFF;
	text-align: justify;
}

#wrap
{
	background: #ffffff;
	color: #303030;
	margin: 0 auto;
	width: 760px;
}

#banner
{
	clear: both;
	width: 100%;
	background: #FFFFFF;
}

#menu
{
	clear: left;
	float: left;
	width: 100%;
	margin: 0 0 10px;
	padding: 0;
	font-size: 0.9em;
	background: #85A082;
}

#menu ul
{
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
	font-size: 1.1em;
	white-space: nowrap;
}

#menu li
{
	font-weight: bold;
	height: 20px;
	text-decoration: none;
	color: #000000;
	display: inline;
	float: left;
	padding: 3px 15px 3px 15px;
	background: #85A082;
}

#menu li:hover
{
	background: #426B3C;
	color: #FFFFFF;
}

#content
{
	padding: 4px;
	margin: 4px;
}

#content h1
{
	font-size: 1.75em;
	margin: 0 0 0.5em 0;
	color: #153F24;
}

#content h2
{
	font-size: 1.5em;
	margin: 0 0 0.5em 0;
	color: #153F24;
}

h3
{
	font-size: 1.3em;
	margin: 0 0 10px 0;
	color: #153F24;
}

a
{
	text-decoration: none;
	color: #153F24;
}

a:hover
{
	text-decoration: underline;
	color: #153F24;
}

a img
{
	border: 0;
}

#footer
{
	clear: both;
	margin: 0;
	padding: 10px 0 20px 0;
	border-top: 4px solid #85A082;
	text-align: center;
	color: #808080;
	font-size: 0.9em;
}

#footer a
{
	color: #153F24;
	text-decoration: none;
}

#footer a:hover
{
	text-decoration: underline;
}

.left
{
	margin: 10px 10px 5px 0;
	float: left;
}

.right
{
	margin: 10px 0 5px 10px;
	float: right;
}

.textright
{
	text-align: right;
}

.center
{
	text-align: center;
}

.small
{
	font-size: 0.8em;
}

.bold
{
	font-weight: bold;
}

.hide
{
	display: none;
}

#sfstamp
{
	vertical-align: middle;
	text-align: right;
}
