<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <appSettings>
      <add key="servername" value="uk001"/>
      <add key="dbname" value="IOS"/>
      <add key="userid" value="sa"/>
      <add key="password" value="isl008@126.com"/>
      <add key="appname" value="G_SQL"/>
    </appSettings>
  </configuration>