<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <appSettings>
      <add key="servername" value="192.168.0.3"/>
      <add key="dbname" value="DNF_01"/>
      <add key="userid" value="tsuser"/>
      <add key="password" value="ts123"/>
      <add key="appname" value="G_SQL"/>
    </appSettings>
  </configuration>